
<body>

    <main>
        <form action="">
        <div class="input-container">
  
                <div class="inputs">
                    <label for="nom-dog">Номер транформатора</label>
                    <input type="number" id="nom-dog" required list="nom-dog-list" />
                    <datalist id="nom-dog-list">
                        <option value="1"></option>
                        <option value="2"></option>
                    </datalist>
                </div>
        </div>
        <div class="table-btns" id="find-btn">
            <button class="button-17" id="btn-find-abn">Найти</button>
        </div>
        </form>
        <div class="table-container">
            <table id="table-abn">
                <thead>
                    <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </main>

</body>
<script src="../../data/abonent.js"></script>

