@model Diploma.Models.ViewModels.Add.UnitAddView
<main>
    <div class="input-container">
        <form asp-action="CreateUnit" asp-controller="Add">
            <div class="inputs">
                <label for="SelectedPointId">Номер точки</label>
                <select required asp-for="SelectedPointId" class="select-css" asp-items="Model.Points">
                    <option value="">Выберите номер</option>
                </select>
            </div>
            <div class="add-btns">
                <button class="button-17" id="btn-add-nomdog">Добавить учетную единицу</button>
            </div>
        </form>
    </div>
</main>


